<!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name=author content="GoodTimes">
        {% block headstuff %}
        <title>{{title}}</title>
        {% endblock %}
        <link rel="stylesheet" type="text/css" 
              href="{{ url_for('static', filename='style.css') }}">
    </head>

    <nav>
        <a href="{{url_for('search')}}">Search Page</a> 
        <a href="{{ url_for('userPage')}}">User Profile Page</a>
        <a href="{{url_for('createCollection')}}">Create a Collection</a> 
        <a href="{{ url_for('collectionPage', cID=3)}}">Collection Page, ID 3</a>
        <a href="{{ url_for('insert')}}">Insert New Media</a>
    </nav>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>