{% extends "navbar.html" %}

{% block searchbar %}
<div class="searchbar" style="margin-top: 20px;">
    <form method="post" action="{{ url_for('search') }}"> 
        <label for="query">Search:
            <input id="query" name="query" type="text" placeholder="Search for a user or media..." required>
        </label>
        
        <label for="kind">Type:
            <select id="kind" name="kind" required>
                <option value="">Select type*</option>
                <option value="username">username</option>
                <option value="media">media type</option>                
            </select>
        </label>

        <label for="moodTag">Mood:
            <select id="moodTag" name="mood">
                <option value="">Filter mood</option>
                <option value="happy">happy</option>
                <option value="sad">sad</option>     
                <option value="angry">angry</option>  
                <option value="calm">calm</option>             
            </select>
        </label>

        <label for="genreTag">Genre:
            <select id="genreTag" name="genre">
                <option value="">Filter genre</option>
                <option value="action">action</option>
                <option value="comedy">comedy</option>     
                <option value="romance">romance</option>  
                <option value="horror">horror</option>             
            </select>
        </label>

        <label for="audienceTag">Audience:
            <select id="audienceTag" name="audience">
                <option value="">Filter audience</option>
                <option value="family">family</option>
                <option value="significant other">significant other</option>     
                <option value="children">children</option>  
                <option value="friends">friends</option>             
            </select>
        </label>

        <input id="search-button" type="submit" value="Search">
        <br>
    </form> 
</div>
{% endblock %}

{% block content %}
{% endblock %}