{% extends "base.html" %}

{% block content %}
<h1 class="welcome retro">Welcome to GoodTimes!</h1>

<!-- <div class="media-images">
    <img src="../static/images/film.png" height="50px">
    <img src="../static/images/screen.png" height="50px">
    <img src="../static/images/music.png" height="50px">
    <img src="../static/images/console.png" height="50px">
    <img src="../static/images/book.png" height="50px">
</div> -->

<div class="align-center"> 
    <p style="padding: 0px 30px;">
        Find and share multimedia recommendations with users all around the world. <br>
        Keep track of all the shows, movies, songs, video games, and books you <br>
        love and share your collections with others!
    </p>
</div>

<div class="flex-row flex-center" style="flex-wrap: wrap; column-gap: 30px;">
    <div class="join-login align-center">
        <h2 class="blue-grad">Join</h2>
        <form method="post" action="{{ url_for('join')}}">
            <input required id="name" type="text" name="name" placeholder="Name">
            <br>
            <input required id="username" type="text" name="username" placeholder="Username">
            <br>
            <input required id="password1" type="text" name="password1" placeholder="Password">
            <br>
            <input required id="password2" type="text" name="password2" placeholder="Confirm password">
            <br>
            <input id="join-button" type="submit" value="Create account">
        </form>
    </div>
    <div class="join-login align-center">
        <h2 class="teal-grad">Login</h2>
        <form method="post" action="{{ url_for('login')}}">
            <input required id="username" type="text" name="username" placeholder="Username">
            <br>
            <input required id="password" type="text" name="password" placeholder="Password">
            <br>
            <input id="login-button" type="submit" value="Login">
        </form>
    </div>
</div>

<p class="cs304 align-center">
    CS304 Final Project, Fall 2022. <br>
    Made with love by Audrey, Catherine and Rik
</p>
{% endblock %}
