
{% extends "base.html" %}

{% block content%}
    <h1>Insert Media</h1>
    <form method="post" action="{{ url_for('insert') }}">
        <label for="media_title">Media Title:
            <input id="media_title" type="text" name="media_title">
        </label>
        <br>
        <label for="media_release">Media Release Year:
            <input id="media_release" type="text" name="media_release">
        </label>
        <br>
        <label for="media_type">Media Type:
            <input id="media_type" type="text" name="media_type">
        </label>
        <br>
        <label for="media_creator">Media Creator:
            <select name="media_creator" id="media_creator">
                <option value="other">Other</option>
                {% for creator in allCreators%}
                    <option value="{{creator.pID}}">{{creator.name}}</option>
                {% endfor %}
            </select>
        </label>
        <br>
        <br>
        <input class="button" type="submit" value="Insert Movie">
    </form>
 {% endblock%} 

