{% extends "explore.html" %}

{% block content%}
    <h1>Insert Media</h1>
    <form method="post" action="{{ url_for('insert') }}">
        <label for="inputAdd">If the creator does not exist, add a creator here:</label>
        <input type="text" placeholder="Creator to Add" id="inputAdd" name="inputAdd">
        <input type="submit" name = "submit" value="Add New Creator">
    </form>
    <br>
    <form method="post" action="{{ url_for('insert') }}">
        <div id="creatorDropdown" class="dropdownContent">
            <label for="media_creator">Media Creator:
                <input type="text" placeholder="Filter dropdown" onkeyup="filterDropdown()" id="input" name="input">
                <select name="media_creator" id="media_creator" required>
                    <option value="">Choose Creator</option>
                    {% for creator in allCreators%}
                        <option value="{{creator.pID}}">{{creator.name}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <label for="media_title">Media Title:
            <input id="media_title" type="text" name="media_title" required>
        </label>
        <br>
        <label for="media_release">Media Release Year:
            <input id="media_release" type="text" name="media_release" required>
        </label>
        <br>
        <label for="media_type">Media Type:
            <select name="media_type" id="media_type" required>
                <option value="movie">movie</option>
                <option value="game">game</option>
                <option value="book">book</option>
                <option value="tv">tv</option>
                <option value="music">music</option>
            </select>
        </label>
        <br>
        <br>
        <input type="submit" name = "submit" value="Insert Media">
    </form>

    <script>
        function filterDropdown() {
            var input, filter, div, elements;
            input = document.getElementById("input");
            filter = input.value.toUpperCase();
            div = document.getElementById("creatorDropdown");
            elements = div.getElementsByTagName("option")

            for (i = 0; i < elements.length; i++) {
                txtValue = elements[i].textContent || elements[i].innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    elements[i].style.display = "";
                } 
                else {
                    elements[i].style.display = "none";
                }
            }
        }
    </script>
 {% endblock%} 