{% extends "explore.html" %}

{% block content %}
<h1 class="title">{{media_info.title}} </h1>
<hr>
<h3>Description:</h3>
<h4 class="details">{{media_info.title}} is a {{media_info.type}}, which was released in {{media_info.releaseYear}}.
    <br>The creator was {{creator_info.name}}.
</h4>
<hr>
<br>
<form method = "post", action="{{ url_for('media_info', mediaID=mediaID)}}">
    <label for="addMedia">Add Media to Collection:
        <select name="addMedia" id="addMedia">
            <option value="other"></option>
            {% for collection in collections%}
                <option value="{{collection.collectionID}}">{{collection.name}}</option>
            {% endfor %}
        </select>
    </label>
    <br>
    <label for="rating">Rating:
        <input type="number" id="rating" name="rating" min="1" max="5">
    </label>
    <br>
    <label for="review">Review:
        <input type="text" id="review" name="review">
    </label>
    <br>
    <label for="mood">Mood:
        <select name="mood" id="mood">
            <option value=""></option>
            <option value="happy">Happy</option>
            <option value="sad">Sad</option>
            <option value="angry">Angry</option>
            <option value="calm">Calm</option>
        </select>
    </label>
    <br>
    <label for="genre">Genre:
        <select name="genre" id="genre">
            <option value=""></option>
            <option value="action">Action</option>
            <option value="comedy">Comedy</option>
            <option value="romance">Romance</option>
            <option value="horror">Horror</option>
        </select>
    </label>
    <br>
    <label for="audience">Audience:
        <select name="audience" id="audience">
            <option value=""></option>
            <option value="family">Family</option>
            <option value="significant other">Significant Other</option>
            <option value="children">Children</option>
            <option value="friends">Friends</option>
        </select>
    </label>
    <input type="submit" name="submit" value="add media">
</form>
<br>
<hr>
<br>
<h3 class="details">See what other users thought about this {{media_info.type}}:</h3>
<table id="details">
    <tr>
        <th>Rating</th>
        <th>Review</th>
        <th>Mood</th>
        <th>Genre</th>
        <th>Audience</th>
    </tr>
    {% for details in rated %}
    <tr data-tt={{details.mediaID}}>
        {% if details.rating == 1%}
        <td class="rating">⭐️</td>
        {% elif details.rating == 2%}
        <td class="rating">⭐️⭐️</td>
        {% elif details.rating == 3%}
        <td class="rating">⭐️⭐️⭐️</td>
        {% elif details.rating == 4%}
        <td class="rating">⭐️⭐️⭐️⭐️</td>
        {% elif details.rating == 5%}
        <td class="rating">⭐️⭐️⭐️⭐️⭐️</td>
        {% else %}
        <td class="rating">{{details.rating}}</td>
        {% endif%}
        <td class="review">{{details.review}}</td>
        <td class="moodtag">{{details.moodTag}}</td>
        <td class="genretag">{{details.genreTag}}</td>
        <td class="audiencetag">{{details.audienceTag}}</td>
    </tr>
    {% endfor %}
</table>
            
{% endblock %}