{% extends "explore.html" %}

{% block content %}
<h2 class="description"> Explore all users:</h2>
<div class="user-container">
    {% for user in all_users %}
    <a href="{{ url_for('user', username=user.username) }}">
        <div class="user-box">
            <p>{{user.name}} ({{user.username}})</p>
        </div>
    </a>
    {% endfor %}
</div>
<h2 class="description"> Explore all media:</h2>
<div class="media-container">
    {% for media in all_media %}
    <a href="{{ url_for('media_info', mediaID=media.mediaID)}}">
        <div class="media-box">
            <p>
                <span class="media-title">{{media.title}} </span>
                <span class="year tag">{{media.releaseYear}}</span> 
                {% if media.type == 'tv' %}
                    <span class="tv tag">{{media.type}}</span>
                {% elif media.type == 'movie' %}
                    <span class="movie tag">{{media.type}}</span>
                {% elif media.type == 'music' %}
                    <span class="music tag">{{media.type}}</span>
                {% elif media.type == 'game' %}
                    <span class="game tag">{{media.type}}</span>
                {% elif media.type == 'book' %}
                    <span class="book tag">{{media.type}}</span>
                {% endif %}
                <span class="creator tag">{{media.name}}</span>
            </p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}