{% extends "loggedIn.html" %}

{% block content %}
<div class="searchbar" style="margin-top: 20px;">
    <form method="post" action="{{ url_for('search') }}"> 
        <input id="query" name="query" type="text" placeholder="Search for a user or media..." required>
        <select id="mood" name="mood">
            <option value="">Filter mood</option>
            <option value="happy">happy</option>
            <option value="sad">sad</option>     
            <option value="angry">angry</option>  
            <option value="calm">calm</option>             
        </select>
        <select id="genre" name="genre">
            <option value="">Filter genre</option>
            <option value="action">action</option>
            <option value="comedy">comedy</option>     
            <option value="romance">romance</option>  
            <option value="horror">horror</option>             
        </select>
        <select id="audience" name="audience">
            <option value="">Filter audience</option>
            <option value="family">family</option>
            <option value="significant other">significant other</option>     
            <option value="children">children</option>  
            <option value="friends">friends</option>             
        </select>
        <select id="kind" name="kind" required>
            <option value="">Select type*</option>
            <option value="username">username</option>
            <option value="media">media type</option>                
        </select>
        <input id="search-button" type="submit" value="Search">
        <br>
    </form> 
</div>

<h2 class="description"> Explore all users:</h2>
<div class="user-container">
    {% for user in all_users %}
    <a href="{{ url_for('user', username=user.username) }}">
        <div class="user-box">
            <p>{{user.name}} ({{user.username}})</p>
        </div>
    </a>
    {% endfor %}
</div>
<h2 class="description"> Explore all media:</h2>
<div class="media-container">
    {% for media in all_media %}
    <a href="{{ url_for('media_info', mediaID=media.mediaID)}}">
        <div class="media-box">
            <p>
                <span class="media-title">{{media.title}} </span>
                <span class="year tag">{{media.releaseYear}}</span> 
                {% if media.type == 'tv' %}
                    <span class="tv tag">{{media.type}}</span>
                {% elif media.type == 'movie' %}
                    <span class="movie tag">{{media.type}}</span>
                {% elif media.type == 'music' %}
                    <span class="music tag">{{media.type}}</span>
                {% elif media.type == 'game' %}
                    <span class="game tag">{{media.type}}</span>
                {% elif media.type == 'book' %}
                    <span class="book tag">{{media.type}}</span>
                {% endif %}
                <span class="creator tag">{{media.name}}</span>
            </p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}