{% extends "loggedIn.html" %}

{% block content %}
<div style="margin-left: 10%; margin-right: 10%;">
    <div class="profile-card">
        <div class="profile-id">
            <h2>[Name]'s Profile ({{username}})</h2>
        </div>
    </div>
    <form method = "post" action = "{{url_for('user', username=username)}}">
        <label for="createCollection">Create Collection:</label>
        <input id="createCollection" type="submit" name="submit" value="create collection">
        <br>
        <label for="viewForm">View Collection:</label>
        <select name = "collectionID" id="viewForm">
            {% for collection in collections%}
            <option id="collectionID" name="collectionID" value="{{collection.collectionID}}">{{collection.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit" value="view">
        <br>
        <label for="deleteForm">Delete Collection:</label>
        <select name = "collectionID" id="deleteForm">
            {% for collection in collections%}
            <option id="collectionID" name="collectionID" value="{{collection.collectionID}}">{{collection.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit" value="delete">
    </form>
    <p class="my-collections">MY COLLECTIONS</p>  
    <div class="collection-container">
        {% for collection in collections %}
        <a href="{{ url_for('collectionPage', cID=collection.collectionID)}}">
            <div class="collection-box">
                <div class="collection-photo"></div>
                <p class="collection-title">{{collection.name}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- {% for user in search_results %}
                <li>{{user.name}} ({{user.username}})</li>
            {% endfor %} -->

</div>
{% endblock %}