{% extends "base.html" %}

{% block nav %}
<div class="nav">
    <h3>GoodTimes</h3>
    <a href="{{ url_for('search') }}">explore</a> 
    <a href="{{ url_for('user', username=session['username']) }}">profile</a>
    <a href="{{ url_for('logout') }}">logout</a>
</div>
<!-- <a href="{{ url_for('createCollection') }}">Create a Collection</a> 
<a href="{{ url_for('collectionPage', cID=3) }}">Collection Page, ID 3</a>
<a href="{{ url_for('insert') }}">Insert New Media</a> -->
{% endblock %}

{% block content %}
<div style="margin-left: 10%; margin-right: 10%;">
    <div class="profile-card">
        <div class="profile-id">
            <h2>NAME</h2>
            <p>@{{username}}</p>
        </div>
        <p class="profile-bio">asdlfkajsf</p>
    </div>

    <p class="my-collections">MY COLLECTIONS</p>  
    <div class="collection-container">
        {% for collection in collections %}
        <a href="{{ url_for('collectionPage', cID=collection.collectionID)}}">
            <div class="collection-box">
                <div class="collection-photo"></div>
                <p class="collection-title">{{collection.name}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- {% for user in search_results %}
                <li>{{user.name}} ({{user.username}})</li>
            {% endfor %} -->

    <form method = "post" action = "{{url_for('user', username=username)}}">
        <label for="viewForm">View Collection:</label>
        <select name = "collectionID" id="viewForm">
            {% for collection in collections%}
            <option id="collectionID" name="collectionID" value="{{collection.collectionID}}">{{collection.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit" value="view">
    </form>

    <form method = "post" action = "{{url_for('user', username=username)}}">
        <label for="deleteForm">Delete Collection:</label>
        <select name = "collectionID" id="deleteForm">
            {% for collection in collections%}
            <option id="collectionID" name="collectionID" value="{{collection.collectionID}}">{{collection.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit" value="delete">
        <p>
            <input type="submit" name="submit" value="create collection">
        </p>
    </form>
</div>
{% endblock %}